extends ../../layout/layout

block variables
  -
    const pageName = 'ui'
    const pageTitle = 'ui'

block description
  meta(name='description', content='Описание страницы Test')

block content
  main.ui-page(data-barba='container', data-barba-namespace=pageName)
    .inner
      +product-card('picture.png', ['Magnet', 'Box', 'Temp', 'Stove'], ['Новинка'], 'АЛЬФАПОЛ ПУ-4 ВН АСХ', 'Антистатические полы и покрытия', 'Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол', 'Полиуретановая грунтовка для создания токопроводящего адгезионного слоя по минеральным и полимерным основаниям перед устройством антистатических полимерных покрытий пола. Однокомпонентная. Содержит органический растворитель. Для внутренних работ.', '921,2 ₽', 'Цена за 1 кг', '')
