extends ../../layout/layout

block variables
  -
    const pageName = 'ui'
    const pageTitle = 'ui'

block description
  meta(name='description', content='Описание страницы Test')

block content
  main.ui-page(data-barba='container', data-barba-namespace=pageName)
    .inner
      +product-card
