.product-card {
  //TODO: add Rubik as $font
  //TODO: apply transition
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: rem(8px);

  border-radius: rem(6px);
  width: rem(896px);
  background-color: #f1f3f4;

  padding: rem(8px);

  @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
    &:hover {
      .product-card__front {
        z-index: 1;
        opacity: 0;
      }
      .product-card__back {
        z-index: 2;
        opacity: 1;
      }
    }
  }

  @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
    &:hover {
      .product-card__media {
        transform: scale(1.1);
      }
    }
  }

  @media #{media('<',d)} {
    border-radius: rem(4px);
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, rem(227px)) auto;
    width: rem(351px);
    gap: 0;
  }

  &__icons {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: rem(4px);
  }
  &__icon {
    aspect-ratio: 1 / 1;
    max-width: rem(40px);

    border-radius: rem(4px);
    padding: rem(10px);

    background-color: #fff;
  }

  &__labels {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: rem(4px);
  }
  &__label {
    display: inline-block;

    padding: rem(8px) rem(16px);

    color: #0e2245;
    font-size: rem(16px);
    line-height: 130%;
    letter-spacing: rem(-0.16px);
    text-transform: uppercase;

    border-radius: rem(6px);
    background: linear-gradient(95deg, #fcff6b 4.15%, #c7ff6b 94.41%);

    @media #{media('<',d)} {
      padding: rem(4px) rem(8px);

      color: #0e2245;
      font-family: Rubik;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 15.6px */
      letter-spacing: rem(-0.12px);
      text-transform: uppercase;
    }
  }

  &__showcase {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(435px);

    @media #{media('<',d)} {
      width: rem(335px);
      padding: rem(34px);
    }
  }
  &__media {
    width: rem(212px);
    height: rem(377px);
    transition: transform $transition-duration $transition-timing-function;

    @media #{media('<',d)} {
      width: rem(89px);
      height: rem(159px);
    }
  }

  &__flipcard {
    position: relative;
    background-color: #fff;

    border-radius: rem(4px);

    display: grid;

    padding: rem(40px);
    width: 100%;
    height: rem(520px);

    cursor: pointer;

    @media #{media('<',d)} {
      padding: rem(16px) rem(16px);
      height: 100%;
    }
  }
  &__front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 2;

    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    height: 100%;

    opacity: 1;

    transition: $transition;

    @media #{media('<',d)} {
      gap: rem(12px);
    }
  }
  &__back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;

    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    opacity: 0;

    transition: $transition;

    height: 100%;
  }

  &__info {
    & > h4:first-child {
      margin-top: 0;
    }
  }
  &__fact {
    padding: rem(8px) rem(16px);
    border-radius: rem(4px);

    background-color: #f1f3f4;

    color: #898f9a;
    font-size: rem(16px);
    line-height: 150%; // rem(24) if needed
    letter-spacing: rem(-0.16px);

    @media #{media('<',d)} {
      padding: rem(6px) rem(12px);

      /* Text 1 */
      font-family: Rubik;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
      letter-spacing: rem(-0.12px);
    }
  }
  &__title {
    color: #0e2245;
    font-size: rem(40px);
    line-height: 110%; /* 44px */
    letter-spacing: rem(-0.8px);
    text-transform: uppercase;

    margin-top: rem(20px);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{media('<',d)} {
      margin-top: rem(12px);

      -webkit-line-clamp: 1;

      /* H4 */
      font-family: Rubik;
      font-size: rem(20px);
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 24px */
      letter-spacing: rem(-0.4px);
      text-transform: uppercase;
    }
  }
  &__description {
    color: #0e2245;
    font-size: rem(20px);
    line-height: 150%;
    letter-spacing: rem(-0.2px);

    margin-top: rem(20px);

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{media('<',d)} {
      margin-top: rem(12px);

      -webkit-line-clamp: 3;

      /* Text 1 */
      font-family: Rubik;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
      letter-spacing: rem(-0.12px);
    }
  }

  &__economy {
  }
  &__pricing {
    color: #0e2245;
    font-family: Rubik;
    font-size: rem(32px);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; // equals rem(41.6) if base is 32px
    letter-spacing: rem(-0.32px);
  }
  &__price {
    color: #0e2245;
    font-size: rem(32px);
    line-height: 130%;
    letter-spacing: rem(-0.32px);

    @media #{media('<',d)} {
      color: #0e2245;

      /* Text 4 */
      font-family: Rubik;
      font-size: rem(18px);
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 23.4px */
      letter-spacing: rem(-0.18px);
    }
  }
  &__subline {
    display: flex;
    justify-content: space-between;

    @media #{media('<',d)} {
      margin-top: rem(6px);
    }
  }
  &__remark {
    color: #898f9a;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 150%; // equals rem(24) if base is 16px
    letter-spacing: rem(-0.16px);

    @media #{media('<',d)} {
      color: #898f9a;

      /* Text 1 */
      font-family: Rubik;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
      letter-spacing: rem(-0.12px);
    }
  }
  &__action {
    aspect-ratio: 1 / 1;
    width: rem(24px);
    color: #0184ff;

    @media #{media('<',d)} {
      width: rem(16px);
    }
  }
  &__lone-action {
    display: flex;
    justify-content: flex-end;
  }

  &__details {
    color: #0e2245;
    font-size: rem(20px);
    line-height: 150%;
    letter-spacing: rem(-0.2px);

    margin-top: rem(20px);

    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{media('<',d)} {
      margin-top: rem(12px);

      /* Text 1 */
      font-family: Rubik;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
      letter-spacing: rem(-0.12px);
    }

    &:first-child {
      margin-top: 0;
    }
  }
  &__tooltip {
  }
}
