mixin icon(text, mods)
  -
    const baseName = 'icon'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .icon(class=allMods)&attributes(attributes)
    .icon__label
      block
    .icon__tooltip= text
      .icon__tip
        +tip
